.phone-call-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Mũi tên chứa chữ */
.call-text {
  width: 142px; /* Thân dài hơn */
  height: 30px; /* Giảm chiều cao */
  background: #4381f0;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 30px;
  border-radius: 4px; /* Giảm độ cong */
  animation: slide-loop 1.4s infinite ease-in-out;
}
@keyframes slide-loop {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0.3;
  }
}

/* Đầu mũi tên */
.call-text::after {
  content: "";
  position: absolute;
  right: -25px; /* Điều chỉnh vị trí */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 50px;
  border-left: 30px solid #4381f0; /* Làm nhọn hơn */
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

/* Nút gọi */
.phone-call-button {
  background-color: #098b52;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Icon phone rung nhẹ */
.phone-icon {
  animation: shake 0.8s infinite alternate;
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Hiệu ứng rợn sóng */
.phone-call-button::before,
.phone-call-button::after,
.phone-call-button .wave-1 {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: pulse-ring 1.5s infinite;
}

.phone-call-button::before {
  width: 60px;
  height: 60px;
  background-color: rgba(12, 184, 110, 0.6);
}

.phone-call-button::after {
  width: 75px;
  height: 75px;
  background-color: rgba(9, 165, 97, 0.4);
  animation-delay: 0.3s;
}

.phone-call-button .wave-1 {
  width: 85px;
  height: 85px;
  background-color: rgba(9, 165, 97, 0.3);
  animation-delay: 0.8s;
}

@keyframes pulse-ring {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
