.advantages-container {
  position: relative;
  width: 100%;
  min-height: 480px;
  background: url("../../img/banner-04.jpg") center left/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .advantages-container {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .advantages-container {
    min-height: 320px;
    background-position: center left -50px;
  }
}

@media (min-width: 1360px) and (max-width: 1940px) {
  .advantages-container {
    min-height: 780px;
  }
}

@media (min-width: 1941px) {
  .advantages-container {
    min-height: 1000px;
  }
}

@media (min-width: 2500px) {
  .advantages-container {
    min-height: 1900px;
  }
}
